.footer{
    background-color: rgb(46, 46, 58);
    opacity: 94%;
  
    padding: 2rem ;
    text-align: center;
}
.pes{
    /* border: 3px solid palevioletred; */
    padding: 2rem;
  
    text-align: end;
    color: aliceblue;
}

.F-img{
    width:6rem;
    height: 6rem;
    transition: 0.5s all;
}

.F-img:hover{
    scale: 1.1;
    transition: 0.5s all;
}